# Dependency directories
node_modules

# Expo specific directories
.expo
.expo-shared
.web
.idea

# Build files
.expo-shared
web-build
web-build-

# Logs
npm-debug.log
yarn-debug.log
yarn-error.log

# macOS
.DS_Store

# Editor directories
.vscode
.idea
.suo
.ntvs
.njsproj
.sln
